@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #B397D6;
}
.shadow{
  -webkit-box-shadow: 10px 10px 5px 5px rgba(172, 43, 142, 0.75);
-moz-box-shadow: 10px 10px 5px 5px rgba(148, 76, 119, 0.75);
box-shadow: 10px 10px 5px 5px rgba(129, 59, 101, 0.75);

}